body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 270px;
    height: 400px;
    background-color: #1677FF;
    cursor: pointer;
    user-select: none;
}